<div class="card-content">
  <span class="type">{{typeSign}}</span>
  <h4 class="title">{{card.name}}</h4>
  {{#if card.special_rule}}
    <p class="special-rule">{{card.special_rule}}</p>
  {{/if}}
  <span class="count">{{countHelper}}</span>
</div>
